# Прогнозирование оттока клиентов в сети отелей «Как в гостях»

### Шаг 1. Откройте файлы с данными

In [662]:
import pandas as pd

data_train = pd.read_csv('hotel_train.csv')
data_test = pd.read_csv('hotel_test.csv')

### Шаг 2. Предобработка и исследовательский анализ данных

In [665]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32412 entries, 0 to 32411
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              32412 non-null  int64
 1   is_canceled                     32412 non-null  int64
 2   lead_time                       32412 non-null  float64
 3   arrival_date_year               32412 non-null  int64
 4   arrival_date_month              32412 non-null  object
 5   arrival_date_week_number        32412 non-null  int64
 6   arrival_date_day_of_month       32412 non-null  int64
 7   stays_in_weekend_nights         32412 non-null  int64
 8   stays_in_week_nights            32412 non-null  int64
 9   adults                          32412 non-null  float64
 10  children                        32412 non-null  float64
 11  babies                          32412 non-null  float64
 12  meal                            32412 non-null  object
 13  country                         32412 non-null  object
 14  distribution_channel            32412 non-null  object
 15  is_repeated_guest               32412 non-null  int64
 16  previous_cancellations          32412 non-null  int64
 17  previous_bookings_not_canceled  32412 non-null  int64
 18  reserved_room_type              32412 non-null  object
 19  booking_changes                 32412 non-null  int64
 20  days_in_waiting_list            32412 non-null  int64
 21  customer_type                   32412 non-null  object
 22  required_car_parking_spaces     32412 non-null  int64
 23  total_of_special_requests       32412 non-null  int64
 24  total_nights                    32412 non-null  int64
dtypes: float64(4), int64(15), object(6)
memory usage: 6.2+ MB

In [667]:
data_train.head(5)

,id,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,booking_changes,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,total_nights
0,0,0,7.0,2015,July,27,1,0,1,1.0,...,0,0,0,A,0,0,Transient,0,0,1
1,1,0,14.0,2015,July,27,1,0,2,2.0,...,0,0,0,A,0,0,Transient,0,1,2
2,2,0,0.0,2015,July,27,1,0,2,2.0,...,0,0,0,C,0,0,Transient,0,0,2
3,3,0,9.0,2015,July,27,1,0,2,2.0,...,0,0,0,C,0,0,Transient,0,1,2
4,4,1,85.0,2015,July,27,1,0,3,2.0,...,0,0,0,A,0,0,Transient,0,1,3

In [669]:
print(data_train.shape)
print(data_test.shape)

(65229, 25)
(32412, 25)

In [671]:
data_train = data_train.astype({'id': 'str'})
data_test = data_test.astype({'id': 'str'})

In [673]:
print(data_train.duplicated().sum())
print(data_test.duplicated().sum())

0
0

In [675]:
data_train.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,required_car_parking_spaces,total_of_special_requests,total_nights
count,65229.000000,65229.000000,65229.000000,65229.000000,65229.000000,65229.000000,65229.000000,65229.000000,65229.000000,65229.000000,65229.000000,65229.000000,65229.000000,65229.000000,65229.000000,65229.000000,65229.000000,65229.000000
mean,0.368609,96.337917,2015.719021,31.339772,15.847813,0.825185,2.224793,1.836576,0.074890,0.007236,0.027151,0.128915,0.107713,0.194269,3.334422,0.056647,0.512763,3.049978
std,0.482431,96.127545,0.449481,13.464024,8.748182,0.853477,1.354992,0.480245,0.334243,0.098790,0.162523,0.965326,1.326638,0.593838,18.239606,0.232094,0.752590,1.738108
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,17.000000,2015.000000,21.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,0.000000,64.000000,2016.000000,34.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
75%,1.000000,151.000000,2016.000000,42.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000
max,1.000000,374.000000,2016.000000,53.000000,31.000000,4.000000,6.000000,4.000000,3.000000,10.000000,1.000000,26.000000,58.000000,17.000000,259.000000,3.000000,5.000000,10.000000

In [677]:
data_train.arrival_date_month.unique()

array(['July', 'August', 'September', 'October', 'November', 'December',
       'January', 'February', 'March', 'April', 'May', 'June'],
      dtype=object)

In [679]:
data_train.boxplot(column='babies')

In [681]:
data_train.query('babies > 5').customer_type

22995          Transient
41528    Transient-Party
Name: customer_type, dtype: object

In [683]:
print(data_train.query('lead_time > 350')['is_canceled'].count())
print(data_train.query('lead_time > 350').is_canceled.sum())

567
475

если заказ бронируется больше чем на 350 дней, то с высокой вероятностью он будет отменен

In [686]:
data_train.boxplot(column='adults')

In [688]:
data_train.query('adults == 0').children.unique()

array([3., 2., 1., 0.])

In [690]:
data_test.query('adults == 0').children.unique()

array([2., 0., 1., 3.])

In [692]:
data_train.query('adults == 0').index

Index([17540, 17598, 17982, 21556, 22516, 22534, 22569, 22579, 22602, 22869,
       ...
       64094, 64246, 64257, 64306, 64641, 64751, 64882, 64892, 64903, 64980],
      dtype='int64', length=166)

In [694]:
data_train = data_train.drop(data_train.query('adults == 0').index)
data_test = data_test.drop(data_test.query('adults == 0').index)

In [696]:
print(data_train.shape)
print(data_test.shape)

(65063, 25)
(32343, 25)

очень странно, что номера сдают детям без взрослых, также есть брони без людей, удалим эти строки

In [699]:
data_train.boxplot(column = 'total_nights')

объединим данные, но прежде добавим столбец

In [702]:
data_train['is_test'] = data_train.apply(lambda x: 0, axis=1)
data_train

,id,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,booking_changes,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,total_nights,is_test
0,0,0,7.0,2015,July,27,1,0,1,1.0,...,0,0,A,0,0,Transient,0,0,1,0
1,1,0,14.0,2015,July,27,1,0,2,2.0,...,0,0,A,0,0,Transient,0,1,2,0
2,2,0,0.0,2015,July,27,1,0,2,2.0,...,0,0,C,0,0,Transient,0,0,2,0
3,3,0,9.0,2015,July,27,1,0,2,2.0,...,0,0,C,0,0,Transient,0,1,2,0
4,4,1,85.0,2015,July,27,1,0,3,2.0,...,0,0,A,0,0,Transient,0,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65224,84057,0,23.0,2016,December,53,30,2,4,2.0,...,0,0,D,0,0,Transient,0,2,6,0
65225,84063,0,53.0,2016,December,53,31,2,3,2.0,...,0,0,D,0,0,Transient,0,3,5,0
65226,84094,0,7.0,2016,December,53,31,2,4,2.0,...,0,0,D,0,0,Transient,0,1,6,0
65227,84117,0,17.0,2016,December,53,30,2,5,2.0,...,0,0,A,0,0,Transient,0,1,7,0
65228,84121,0,107.0,2016,December,53,31,2,5,2.0,...,0,0,A,0,0,Transient,0,0,7,0

In [703]:
data_test['is_test'] = data_test.apply(lambda x: 1, axis=1)
data_test

,id,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,booking_changes,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,total_nights,is_test
0,6086,1,74.0,2017,January,1,1,1,0,2.0,...,0,0,A,0,0,Transient,0,0,1,1
1,6087,1,62.0,2017,January,1,1,2,2,2.0,...,0,0,A,0,0,Transient,0,1,4,1
2,6088,1,62.0,2017,January,1,1,2,2,2.0,...,0,0,A,0,0,Transient,0,1,4,1
3,6089,1,71.0,2017,January,1,1,2,2,1.0,...,0,0,A,0,0,Transient,0,1,4,1
4,6090,1,172.0,2017,January,1,1,2,5,2.0,...,0,0,A,0,0,Transient,0,0,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32407,97899,0,164.0,2017,August,35,31,2,4,2.0,...,0,0,A,0,0,Transient,0,0,6,1
32408,97900,0,21.0,2017,August,35,30,2,5,2.0,...,0,0,A,0,0,Transient,0,2,7,1
32409,97901,0,23.0,2017,August,35,30,2,5,2.0,...,0,0,A,0,0,Transient,0,0,7,1
32410,97902,0,34.0,2017,August,35,31,2,5,2.0,...,0,0,D,0,0,Transient,0,4,7,1
32411,97903,0,109.0,2017,August,35,31,2,5,2.0,...,0,0,A,0,0,Transient,0,0,7,1

In [705]:
df = pd.concat([data_train, data_test])
df.shape

(97406, 26)

### Шаг 3. Формулировка ML-задачи на основе бизнес-задачи

создадим новые колонки, в которых будут значения цены обслуживания и стоимости номера за ночь с учета сезона

In [710]:
df

,id,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,booking_changes,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,total_nights,is_test
0,0,0,7.0,2015,July,27,1,0,1,1.0,...,0,0,A,0,0,Transient,0,0,1,0
1,1,0,14.0,2015,July,27,1,0,2,2.0,...,0,0,A,0,0,Transient,0,1,2,0
2,2,0,0.0,2015,July,27,1,0,2,2.0,...,0,0,C,0,0,Transient,0,0,2,0
3,3,0,9.0,2015,July,27,1,0,2,2.0,...,0,0,C,0,0,Transient,0,1,2,0
4,4,1,85.0,2015,July,27,1,0,3,2.0,...,0,0,A,0,0,Transient,0,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32407,97899,0,164.0,2017,August,35,31,2,4,2.0,...,0,0,A,0,0,Transient,0,0,6,1
32408,97900,0,21.0,2017,August,35,30,2,5,2.0,...,0,0,A,0,0,Transient,0,2,7,1
32409,97901,0,23.0,2017,August,35,30,2,5,2.0,...,0,0,A,0,0,Transient,0,0,7,1
32410,97902,0,34.0,2017,August,35,31,2,5,2.0,...,0,0,D,0,0,Transient,0,4,7,1
32411,97903,0,109.0,2017,August,35,31,2,5,2.0,...,0,0,A,0,0,Transient,0,0,7,1

In [712]:
def months(m):
    if (m in ['January', 'February', 'December']):
        return 1
    if (m in ['March', 'April', 'May']):
        return 1.2
    if (m in ['June', 'July', 'August']):
        return 1.4
    if (m in ['September', 'October', 'November']):
        return 1.2

df['cf_months'] = df.arrival_date_month.apply(months)

In [714]:
df.cf_months.unique()

array([1.4, 1.2, 1. ])

In [716]:
df.reserved_room_type = df.reserved_room_type.apply(lambda x: x.split(' ')[0])
print(df.reserved_room_type.unique())

['A' 'C' 'D' 'E' 'G' 'F' 'B']

In [718]:
df.meal = df.meal.apply(lambda x: x.split()[0])
df.meal.unique()

array(['BB', 'FB', 'HB', 'SC'], dtype=object)

In [720]:
def price(x):
    if (x.is_canceled == 1):
        if (x.reserved_room_type == 'A'):
            return -(1400 * x.cf_months)
        if (x.reserved_room_type == 'B'):
            return -(1150 * x.cf_months)
        if (x.reserved_room_type == 'C'):
            return -(950 * x.cf_months)
        if (x.reserved_room_type == 'D'):
            return -(700 * x.cf_months)
        if (x.reserved_room_type == 'E'):
            return -(650 * x.cf_months)
        if (x.reserved_room_type == 'F'):
            return -(600 * x.cf_months)
        if (x.reserved_room_type == 'G'):
            return -(500 * x.cf_months)
    else:
        if (x.reserved_room_type == 'A'):
            return (x.total_nights * 1000 - (x.total_nights // 2 + 1) * 400) * x.cf_months
        if (x.reserved_room_type == 'B'):
            return (x.total_nights * 800 - (x.total_nights // 2 + 1) * 350) * x.cf_months
        if (x.reserved_room_type == 'C'):
            return (x.total_nights * 600 - (x.total_nights // 2 + 1) * 350) * x.cf_months
        if (x.reserved_room_type == 'D'):
            return (x.total_nights * 550 - (x.total_nights // 2 + 1) * 150) * x.cf_months
        if (x.reserved_room_type == 'E'):
            return (x.total_nights * 500 - (x.total_nights // 2 + 1) * 150) * x.cf_months
        if (x.reserved_room_type == 'F'):
                return (x.total_nights * 450 - (x.total_nights // 2 + 1) * 150) * x.cf_months
        if (x.reserved_room_type == 'G'):
                return (x.total_nights * 350 - (x.total_nights // 2 + 1) * 150) * x.cf_months




df['profit'] = df.apply(lambda x: price(x), axis=1)
df

,id,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,booking_changes,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,total_nights,is_test,cf_months,profit
0,0,0,7.0,2015,July,27,1,0,1,1.0,...,A,0,0,Transient,0,0,1,0,1.4,840.0
1,1,0,14.0,2015,July,27,1,0,2,2.0,...,A,0,0,Transient,0,1,2,0,1.4,1680.0
2,2,0,0.0,2015,July,27,1,0,2,2.0,...,C,0,0,Transient,0,0,2,0,1.4,700.0
3,3,0,9.0,2015,July,27,1,0,2,2.0,...,C,0,0,Transient,0,1,2,0,1.4,700.0
4,4,1,85.0,2015,July,27,1,0,3,2.0,...,A,0,0,Transient,0,1,3,0,1.4,-1960.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32407,97899,0,164.0,2017,August,35,31,2,4,2.0,...,A,0,0,Transient,0,0,6,1,1.4,6160.0
32408,97900,0,21.0,2017,August,35,30,2,5,2.0,...,A,0,0,Transient,0,2,7,1,1.4,7560.0
32409,97901,0,23.0,2017,August,35,30,2,5,2.0,...,A,0,0,Transient,0,0,7,1,1.4,7560.0
32410,97902,0,34.0,2017,August,35,31,2,5,2.0,...,D,0,0,Transient,0,4,7,1,1.4,4550.0
32411,97903,0,109.0,2017,August,35,31,2,5,2.0,...,A,0,0,Transient,0,0,7,1,1.4,7560.0

In [721]:
df.query('is_test == 1 and profit < 0')

,id,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,booking_changes,days_in_waiting_list,customer_type,required_car_parking_spaces,total_of_special_requests,total_nights,is_test,cf_months,profit
0,6086,1,74.0,2017,January,1,1,1,0,2.0,...,A,0,0,Transient,0,0,1,1,1.0,-1400.0
1,6087,1,62.0,2017,January,1,1,2,2,2.0,...,A,0,0,Transient,0,1,4,1,1.0,-1400.0
2,6088,1,62.0,2017,January,1,1,2,2,2.0,...,A,0,0,Transient,0,1,4,1,1.0,-1400.0
3,6089,1,71.0,2017,January,1,1,2,2,1.0,...,A,0,0,Transient,0,1,4,1,1.0,-1400.0
4,6090,1,172.0,2017,January,1,1,2,5,2.0,...,A,0,0,Transient,0,0,7,1,1.0,-1400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23163,88655,1,25.0,2017,May,18,6,2,1,1.0,...,E,0,0,Transient,0,0,3,1,1.2,-780.0
25548,91040,1,4.0,2017,June,23,5,1,0,1.0,...,A,0,0,Transient,0,0,1,1,1.4,-1960.0
26084,91576,1,7.0,2017,May,22,31,0,1,1.0,...,A,0,0,Transient,0,0,1,1,1.2,-1680.0
26085,91577,1,6.0,2017,July,29,17,1,0,1.0,...,A,0,0,Transient,0,0,1,1,1.4,-1960.0
30673,96165,1,0.0,2017,August,31,2,0,2,1.0,...,A,0,0,Transient,0,1,2,1,1.4,-1960.0

Прибыль отеля без депозитов

In [723]:
old_income = df.query("is_test == 1").profit.sum()
print(f'Доход без введения системы прогнозирования: {old_income}')
print(df.query("is_test == 1").shape)

Доход без введения системы прогнозирования: 28196210.0
(32343, 28)

In [724]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 97406 entries, 0 to 32411
Data columns (total 28 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              97406 non-null  object
 1   is_canceled                     97406 non-null  int64
 2   lead_time                       97406 non-null  float64
 3   arrival_date_year               97406 non-null  int64
 4   arrival_date_month              97406 non-null  object
 5   arrival_date_week_number        97406 non-null  int64
 6   arrival_date_day_of_month       97406 non-null  int64
 7   stays_in_weekend_nights         97406 non-null  int64
 8   stays_in_week_nights            97406 non-null  int64
 9   adults                          97406 non-null  float64
 10  children                        97406 non-null  float64
 11  babies                          97406 non-null  float64
 12  meal                            97406 non-null  object
 13  country                         97406 non-null  object
 14  distribution_channel            97406 non-null  object
 15  is_repeated_guest               97406 non-null  int64
 16  previous_cancellations          97406 non-null  int64
 17  previous_bookings_not_canceled  97406 non-null  int64
 18  reserved_room_type              97406 non-null  object
 19  booking_changes                 97406 non-null  int64
 20  days_in_waiting_list            97406 non-null  int64
 21  customer_type                   97406 non-null  object
 22  required_car_parking_spaces     97406 non-null  int64
 23  total_of_special_requests       97406 non-null  int64
 24  total_nights                    97406 non-null  int64
 25  is_test                         97406 non-null  int64
 26  cf_months                       97406 non-null  float64
 27  profit                          97406 non-null  float64
dtypes: float64(6), int64(15), object(7)
memory usage: 21.6+ MB

### Шаг 4. Разработка модели ML

In [730]:
def str_to_int_months(x):
    if x == 'January':
        return 1
    if x == 'February':
        return 2
    if x == 'March':
        return 3
    if x == 'April':
        return 4
    if x == 'May':
        return 5
    if x == 'June':
        return 6
    if x == 'July':
        return 7
    if x == 'August':
        return 8
    if x == 'September':
        return 9
    if x == 'October':
        return 10
    if x == 'November':
        return 11
    if x == 'December':
        return 12

df.arrival_date_month = df.arrival_date_month.apply(str_to_int_months)

нормируем

In [733]:
df_dummies = pd.get_dummies(df, columns=['meal', 'country', 'distribution_channel', 'reserved_room_type', 'customer_type'], drop_first=True)
df_dummies

,id,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,distribution_channel_TA/TO,reserved_room_type_B,reserved_room_type_C,reserved_room_type_D,reserved_room_type_E,reserved_room_type_F,reserved_room_type_G,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,0,0,7.0,2015,7,27,1,0,1,1.0,...,False,False,False,False,False,False,False,False,True,False
1,1,0,14.0,2015,7,27,1,0,2,2.0,...,True,False,False,False,False,False,False,False,True,False
2,2,0,0.0,2015,7,27,1,0,2,2.0,...,False,False,True,False,False,False,False,False,True,False
3,3,0,9.0,2015,7,27,1,0,2,2.0,...,False,False,True,False,False,False,False,False,True,False
4,4,1,85.0,2015,7,27,1,0,3,2.0,...,True,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32407,97899,0,164.0,2017,8,35,31,2,4,2.0,...,True,False,False,False,False,False,False,False,True,False
32408,97900,0,21.0,2017,8,35,30,2,5,2.0,...,True,False,False,False,False,False,False,False,True,False
32409,97901,0,23.0,2017,8,35,30,2,5,2.0,...,True,False,False,False,False,False,False,False,True,False
32410,97902,0,34.0,2017,8,35,31,2,5,2.0,...,True,False,False,True,False,False,False,False,True,False
32411,97903,0,109.0,2017,8,35,31,2,5,2.0,...,True,False,False,False,False,False,False,False,True,False

In [735]:
df_train_dummies = df_dummies.query('is_test == 0')
df_test_dummies = df_dummies.query('is_test == 1')
print(df_test_dummies.shape)

(32343, 211)

In [737]:
features_train = df_train_dummies.drop(['id', 'is_canceled', 'cf_months', 'profit'], axis=1)
target_train = df_train_dummies['is_canceled']

features_test = df_test_dummies.drop(['id', 'is_canceled', 'cf_months', 'profit'], axis=1)
target_test = df_test_dummies['is_canceled']

In [739]:
features_train.head()

,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,distribution_channel_TA/TO,reserved_room_type_B,reserved_room_type_C,reserved_room_type_D,reserved_room_type_E,reserved_room_type_F,reserved_room_type_G,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,7.0,2015,7,27,1,0,1,1.0,0.0,0.0,...,False,False,False,False,False,False,False,False,True,False
1,14.0,2015,7,27,1,0,2,2.0,0.0,0.0,...,True,False,False,False,False,False,False,False,True,False
2,0.0,2015,7,27,1,0,2,2.0,0.0,0.0,...,False,False,True,False,False,False,False,False,True,False
3,9.0,2015,7,27,1,0,2,2.0,0.0,0.0,...,False,False,True,False,False,False,False,False,True,False
4,85.0,2015,7,27,1,0,3,2.0,0.0,0.0,...,True,False,False,False,False,False,False,False,True,False

масштабируем для выборок отдельно

In [742]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(features_train)
features_train_scaler = pd.DataFrame(data=scaler.transform(features_train), columns=features_train.columns)

scaler.fit(features_test)
features_test_scaler = pd.DataFrame(data=scaler.transform(features_test), columns=features_test.columns)

In [743]:
features_test_scaler

,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,distribution_channel_TA/TO,reserved_room_type_B,reserved_room_type_C,reserved_room_type_D,reserved_room_type_E,reserved_room_type_F,reserved_room_type_G,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,-0.270918,0.0,-1.671540,-1.831126,-1.672061,0.155163,-1.701379,0.284978,-0.240405,-0.072979,...,0.4437,-0.064982,-0.079079,-0.483195,-0.231339,-0.125689,-0.093112,-0.071608,0.424686,-0.397756
1,-0.409845,0.0,-1.671540,-1.831126,-1.672061,1.327146,-0.246582,0.284978,-0.240405,-0.072979,...,0.4437,-0.064982,-0.079079,-0.483195,-0.231339,-0.125689,-0.093112,-0.071608,0.424686,-0.397756
2,-0.409845,0.0,-1.671540,-1.831126,-1.672061,1.327146,-0.246582,0.284978,-0.240405,-0.072979,...,0.4437,-0.064982,-0.079079,-0.483195,-0.231339,-0.125689,-0.093112,-0.071608,0.424686,-0.397756
3,-0.305650,0.0,-1.671540,-1.831126,-1.672061,1.327146,-0.246582,-1.788599,-0.240405,-0.072979,...,0.4437,-0.064982,-0.079079,-0.483195,-0.231339,-0.125689,-0.093112,-0.071608,0.424686,-0.397756
4,0.863649,0.0,-1.671540,-1.831126,-1.672061,1.327146,1.935614,0.284978,-0.240405,-0.072979,...,0.4437,-0.064982,-0.079079,-0.483195,-0.231339,-0.125689,-0.093112,-0.071608,0.424686,-0.397756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32338,0.771031,0.0,1.652118,1.873854,1.750149,1.327146,1.208216,0.284978,-0.240405,-0.072979,...,0.4437,-0.064982,-0.079079,-0.483195,-0.231339,-0.125689,-0.093112,-0.071608,0.424686,-0.397756
32339,-0.884511,0.0,1.652118,1.873854,1.636075,1.327146,1.935614,0.284978,-0.240405,-0.072979,...,0.4437,-0.064982,-0.079079,-0.483195,-0.231339,-0.125689,-0.093112,-0.071608,0.424686,-0.397756
32340,-0.861356,0.0,1.652118,1.873854,1.636075,1.327146,1.935614,0.284978,-0.240405,-0.072979,...,0.4437,-0.064982,-0.079079,-0.483195,-0.231339,-0.125689,-0.093112,-0.071608,0.424686,-0.397756
32341,-0.734007,0.0,1.652118,1.873854,1.750149,1.327146,1.935614,0.284978,-0.240405,-0.072979,...,0.4437,-0.064982,-0.079079,2.069560,-0.231339,-0.125689,-0.093112,-0.071608,0.424686,-0.397756
32342,0.134284,0.0,1.652118,1.873854,1.750149,1.327146,1.935614,0.284978,-0.240405,-0.072979,...,0.4437,-0.064982,-0.079079,-0.483195,-0.231339,-0.125689,-0.093112,-0.071608,0.424686,-0.397756

In [746]:
target_train.hist(bins=100)

Перебираем модели

Дерево решений

In [100]:
%matplotlib

Using matplotlib backend: <object object at 0x000002075CEC86E0>

In [294]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

res = 0
max_i = 0
for i in range(1, 20):
    model = DecisionTreeClassifier(random_state=12345, max_depth=i, class_weight='balanced')
    cvs_model = cross_val_score(model, features_train_scaler, target_train, cv=8, scoring='roc_auc')
    if (cvs_model.mean() > res):
        max_i = i
        res = cvs_model.mean()

print(res, max_i)

0.6570436664198473 2

лучшее значение глубины = 2, roc_auc = 0.7776204125095799

Лес решений

In [298]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

parametrs = {
                'n_estimators': [60, 120, 180, 240], 
                'max_depth': [2, 4, 6, 8, 10],
                'max_features': [2, 3, 4, 5]
            }

model = RandomForestClassifier(random_state=12345, class_weight='balanced')
cLf_model = GridSearchCV(model, parametrs, scoring= 'roc_auc', cv=8, n_jobs=-1)
cLf_model.fit(features_train_scaler, target_train)

print(cLf_model.best_score_, cLf_model.best_params_)

0.6412235345125145 {'max_depth': 4, 'max_features': 4, 'n_estimators': 60}

лучшие значения =  {'max_depth': 2, 'max_features': 4, 'n_estimators': 60}, roc_auc = 0.7686945824203684

Логистическая регрессия

In [292]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

model = LogisticRegression(random_state=12345, class_weight='balanced', solver='lbfgs', max_iter=1000)
cvs_model = cross_val_score(model, features_train_scaler, target_train, cv=8, scoring='roc_auc')
print(cvs_model.mean())

0.6464811801810145

лучшее значение: 0.8185118667897737

In [748]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

features_train_test, features_valid_test, target_train_test, target_valid_test = \
            train_test_split(features_train_scaler, target_train, test_size=0.25, random_state=12345, shuffle=True, stratify=target_train)

In [750]:
import numpy as np
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(random_state=12345, class_weight='balanced', solver='lbfgs', max_iter=1000)
model.fit(features_train_test, target_train_test)
predict_proba = model.predict_proba(features_valid_test)

probabilities_one_valid = [i[1] for i in predict_proba] # оставляем только положительную вероятность

f1 = 0
trash = 0

for threshold in np.arange(0, 1, 0.02): # ГРАНИЦЫ ПОРОГА
    predicted_valid = probabilities_one_valid > threshold # булев массив с разными значениями порога
    if f1 < f1_score(target_valid_test, predicted_valid):
        f1 = f1_score(target_valid_test, predicted_valid)
        trash = threshold

print(f1, trash)

0.7317073170731707 0.52

Порог можно не менять, он точности не добавляет

рассчитаем доход с помощью модели:

In [754]:
df_test_dummies

,id,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,distribution_channel_TA/TO,reserved_room_type_B,reserved_room_type_C,reserved_room_type_D,reserved_room_type_E,reserved_room_type_F,reserved_room_type_G,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,6086,1,74.0,2017,1,1,1,1,0,2.0,...,True,False,False,False,False,False,False,False,True,False
1,6087,1,62.0,2017,1,1,1,2,2,2.0,...,True,False,False,False,False,False,False,False,True,False
2,6088,1,62.0,2017,1,1,1,2,2,2.0,...,True,False,False,False,False,False,False,False,True,False
3,6089,1,71.0,2017,1,1,1,2,2,1.0,...,True,False,False,False,False,False,False,False,True,False
4,6090,1,172.0,2017,1,1,1,2,5,2.0,...,True,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32407,97899,0,164.0,2017,8,35,31,2,4,2.0,...,True,False,False,False,False,False,False,False,True,False
32408,97900,0,21.0,2017,8,35,30,2,5,2.0,...,True,False,False,False,False,False,False,False,True,False
32409,97901,0,23.0,2017,8,35,30,2,5,2.0,...,True,False,False,False,False,False,False,False,True,False
32410,97902,0,34.0,2017,8,35,31,2,5,2.0,...,True,False,False,True,False,False,False,False,True,False
32411,97903,0,109.0,2017,8,35,31,2,5,2.0,...,True,False,False,False,False,False,False,False,True,False

In [756]:
df_test_dummies.reset_index(drop=True)

,id,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,distribution_channel_TA/TO,reserved_room_type_B,reserved_room_type_C,reserved_room_type_D,reserved_room_type_E,reserved_room_type_F,reserved_room_type_G,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,6086,1,74.0,2017,1,1,1,1,0,2.0,...,True,False,False,False,False,False,False,False,True,False
1,6087,1,62.0,2017,1,1,1,2,2,2.0,...,True,False,False,False,False,False,False,False,True,False
2,6088,1,62.0,2017,1,1,1,2,2,2.0,...,True,False,False,False,False,False,False,False,True,False
3,6089,1,71.0,2017,1,1,1,2,2,1.0,...,True,False,False,False,False,False,False,False,True,False
4,6090,1,172.0,2017,1,1,1,2,5,2.0,...,True,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32338,97899,0,164.0,2017,8,35,31,2,4,2.0,...,True,False,False,False,False,False,False,False,True,False
32339,97900,0,21.0,2017,8,35,30,2,5,2.0,...,True,False,False,False,False,False,False,False,True,False
32340,97901,0,23.0,2017,8,35,30,2,5,2.0,...,True,False,False,False,False,False,False,False,True,False
32341,97902,0,34.0,2017,8,35,31,2,5,2.0,...,True,False,False,True,False,False,False,False,True,False
32342,97903,0,109.0,2017,8,35,31,2,5,2.0,...,True,False,False,False,False,False,False,False,True,False

In [758]:
def income(features, predict):
    count = 0
    for i in range(len(predict)):
        if (features.iloc[i].is_canceled == 1 and predict[i] == 1):
            count += features.iloc[i].profit * 0.2
        else:
            count += features.iloc[i].profit
    return count

In [760]:
model = LogisticRegression(random_state=12345, class_weight='balanced', solver='lbfgs', max_iter=1000)
model.fit(features_train, target_train)
predict = model.predict(features_test)
print(f1_score(target_test, predict))

# на вменяемость

f1_0 = f1_score(target_test, [0 for i in range(len(target_test))])
f1_1 = f1_score(target_test, [1 for i in range(len(target_test))])
print(f1_0, f1_1)

0.672511731291677
0.0 0.5594281005723448

C:\Users\Ololo\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [761]:
new_income = income(df_test_dummies.reset_index(drop=True), predict)
print('сколько поимеем в случае перехода на новую систему:', new_income - old_income)

сколько поимеем в случае перехода на новую систему: 10135472.0

In [764]:
print(new_income, old_income)

38331682.0 28196210.0

In [15]:
df = data_train.groupby('country').agg({'is_canceled':['mean', 'count']}).reset_index()
df

    country is_canceled
                   mean count
0       ABW    0.000000     1
1       AGO    0.392857   140
2       ALB    0.142857     7
3       AND    1.000000     1
4       ARE    0.884615    26
..      ...         ...   ...
150     VGB    1.000000     1
151     VNM    0.400000     5
152     ZAF    0.416667    36
153     ZMB    1.000000     1
154     ZWE    0.000000     1

[155 rows x 3 columns]